@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    /* font-family */
    --fonte: 'Space Mono', monospace;

    /* colors */
    --roxo-300: #5a4ac2;
    --roxo-500: #877dbf;
    --roxo-900: #3e347b;
    --amarelo: #f2db3f;
    --verde-300: #3ff29b;
    --verde-900: #5d9d7e;
    --cinza: #888;
    --cinzaClaro: #DDD;
    --preto-texto: rgba(0, 0, 0, 0.75);
    --branco: #ffffff;
    --laranja: #f2953f;
    --preto: #1e1e1e;

    /* shadow */
    --box-shadow-default-roxo-300: 0 0 0 0px #FFFFFF, 6px 6px #5A4AC2;
    --box-shadow-default-roxo-500: 0 0 0 0px #FFFFFF, 6px 6px #3E347B;
    --box-shadow-default-roxo-900: 0 0 0 0px #FFFFFF, 6px 6px #3E347B;
    --box-shadow-default-verde-300: 0 0 0 0px #FFFFFF, 6px 6px #3FF29B;
    --box-shadow-default-verde-900: 0 0 0 0px #FFFFFF, 6px 6px #5D9D7E;
    --box-shadow-default-cinza-300: 0 0 0 0px #FFFFFF, 6px 6px #DDDDDD;
    --box-shadow-default-cinza: 0 0 0 0px #FFFFFF, 6px 6px #BBBBBB;
    --box-shadow-default-preto: 0 0 0 0px #FFFFFF, 6px 6px #1E1E1E;
    --box-shadow-default-preto-900: 0 0 0 0px #FFFFFF, 6px 6px #000000;
    --box-shadow-default-laranja: 0 0 0 0px #FFFFFF, 6px 6px #97581F;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: var(--fonte);
    background-image: url('./assets/grid.svg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 40px 20px;
    align-items: center;
    justify-content: center;
}

.logo {
    margin: 32px 32px 16px 32px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.05); 
}

.title {
    margin: 0px;
    font-size: 36px;
    text-align: center;
}

.destaque {
    color: #2cd483;
}

.destaque2 {
    color: #2ec57c;
}

.message {
    width: 80%;
    max-width: 1220px;
    margin: 36px 0px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCFCFC;
    box-sizing: border-box;
    border: 1.5px solid var(--cinzaClaro);
}

.message h3 {
    text-align: center;
    margin: 8px 0px;
}

.message p {
    text-align: center;
    color: var(--cinza);
}

.option-container {
    display: flex;
    gap: 20px;
}

.option,
.option-questio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 16px;
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.option {
    color: #bab1fc; 
    background-color: var(--roxo-300); 
    box-shadow: var(--box-shadow-default-roxo-500);
}

.option-questio {
    color: #2f6e4e; 
    background-color: var(--verde-300); 
    box-shadow: var(--box-shadow-default-verde-900);
}

.option:hover,
.option-questio:hover {
    transform: scale(1.05);
}

.icon {
    width: 36px;
    height: 36px;
}

.about-container {
    width: 80%;
    max-width: 1220px;
    margin: 56px 0px 36px 0px;
}

.about-container2 {
    width: 80%;
    max-width: 1220px;
    margin: 0px 0px 36px 0px;
}

.about-text{
    color: var(--cinza);
    padding: 16px 24px;
    background-color: #FCFCFC;
    box-sizing: border-box;
    border: 1px solid var(--cinzaClaro);
}

.content1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.illustration {
    height: auto;
    width: 540px; 
    object-fit: contain;
}

.fotos-equipes {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 80%;
    height: 580px;
    max-width: 1220px;
}

.foto {
    flex: 1;
    height: 400px;
}

.foto img {
    width: 100%;
    height: auto;
}

.foto-container {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: var(--cinzaClaro);
    border: #CCC solid 1px;
}

.equipe-container {
    width: 80%;
    max-width: 1220px;
    margin: 16px 0px 32px 0px;
}

.title-foto,
.title-professor,
.title-current,
.title-past {
    display: flex;
    align-items: center;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 16px;
    border: none;
}

.title-foto {
    color: #777;
    background-color: var(--cinzaClaro);
    box-shadow: var(--box-shadow-default-cinza);
}

.title-professor {
    color: #6b3605; 
    background-color: var(--laranja); 
    box-shadow: var(--box-shadow-default-laranja);
}

.title-current {
    color: #2f6e4e; 
    background-color: var(--verde-300); 
    box-shadow: var(--box-shadow-default-verde-900);
}

.title-past {
    color: #bab1fc; 
    background-color: var(--roxo-300); 
    box-shadow: var(--box-shadow-default-roxo-500);
}

.people-prof,
.people-current,
.people-old {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 16px;
    margin-bottom: 24px;
}

.people-prof-img,
.people-current-img,
.people-old-img {
    height: 156px;
    width: 156px;
    object-fit: contain;
    padding: 10px;
    color: #777; 
    background-color: var(--cinzaClaro);
    box-shadow: var(--box-shadow-default-cinza);
}

.member-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 176px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    box-shadow: 0 0 0 0px #FFFFFF, 6px 6px #dbdbdb;
}

.member-about p{
    margin: 0px;
}

.member-about-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0px 0px 12px 0px;
}

.member-about-title a{
    flex: 1;
    display: flex;
    align-items: center;
}

.member-about-description {
    color: var(--cinza);
    word-wrap: break-word;      
    overflow-wrap: break-word;  
    white-space: normal;        
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    .content1 {
        flex-direction: column;
        align-items: center;
    }
}